@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
body {
    background-color: #121212;
}

/* dont fucking ask */
.flexmesenpai {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, a {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    color: white;
}

h3 {
    margin-bottom: 5px;
}

.link-list {
    width: 300px;
    height: 550px;
    float: left;
}

.project-list {
    width: 400px;
    height: 550px;
    float: left;
}

.discord-widget {
    float: right;
    height: 550px;
}

@media (max-width: 667px) {
    .project-list {
        float: none;
    }
    .discord-widget {
        float: none;
    }
}

@media (max-width: 715px) {
    .project-list {
        float: left;
    }
    .discord-widget {
        float: none;
    }
}

.link:link, .link:visited {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.link:hover, .link:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.list-item {
    height: 32px;
    position: relative;
    margin-bottom: 16px;
}

.list-item img, .text-logo-left {
    position: relative;
    height: 32px;
    width: 32px;
    float: left;
    border-radius: 10%;
    cursor: pointer;
}

.list-item a {
    margin-left: 16px;
    margin-top: 8px;
    float: left;
}

.lock-icon {
    color: #6b6b6b;
    position: relative;
    display: inline-block;
    left: 8px;
    top: 3px;
}

/* yoinked from https://www.w3schools.com/css/css_tooltip.asp thank you very much */

.lock-icon .lock-text {
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    background-color: #6b6b6b;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 125%;
    left: calc(50% - 5px);
    margin-left: -60px;
}

.lock-icon .lock-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6b6b6b transparent transparent transparent;
}

.lock-icon:hover .lock-text {
    opacity: 1;
    visibility: visible;
}
